html, body{
	height: 100%;
  -webkit-tap-highlight-color:transparent;
  -webkit-text-size-adjust: 100%;
  max-width: 640px;
  @extend %marginLR;
}

#{$comonElements} {
	box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: #000;
}

input[type=text] {
  -webkit-appearance: none;
}

input:-webkit-autofill { 
  background-color: transparent; 
}

div {
  box-sizing: border-box;
}

img {
  display: block;
}

// @font-face {
//   font-family: "Chayefont";
//   src: url(../fonts/chayefont.ttf) format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
// .chayefont {
//   font-family: "Chayefont";
// }

/*  部分新增的公共 class*/

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none!important;
}

.invisibility {
  visibility: hidden;
}

.mt-10 {
    margin-top: 0.1rem;
}
.mr-10 {
    margin-right: 0.1rem;
}
.mb-10 {
    margin-bottom: 0.1rem;
}
.ml-10 {
    margin-left: 0.1rem;
}

.mt-20 {
    margin-top: 0.2rem;
}
.mr-20 {
    margin-right: 0.2rem;
}
.mb-20 {
    margin-bottom: 0.2rem;
}
.ml-20 {
    margin-left: 0.2rem;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed!important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.txt-l {
  text-align: left;
}
.txt-c {
  text-align: center;
}
.txt-r {
  text-align: right;
}

.fz-12 {
  font-size: 12px!important;
}

.fz-14 {
  font-size: 14px!important;
}

.fz-16 {
  font-size: 16px!important;
}

.fz-18 {
  font-size: 18px!important;
}

.fz-20 {
  font-size: 20px!important;
}

.fz-22 {
  font-size: 22px!important;
}

.fz-24 {
  font-size: 24px!important;
}

.left-0 {
  left: 0!important;
}

.top-0 {
  top: 0!important;
}

.bottom-0 {
  bottom: 0!important;
}

.price {
  color: #EE7700!important;
}

.white {
  color: #fff!important;
}

.point {
  color: #FF8001!important;
}

.stars {
  color: #ffbe00;
}

.color-FEF0EF {
  color: #FEF0EF;
}

.color-8C8C8C {
  color: #8C8C8C!important;
}

.color-3B3B3B {
  color: #3B3B3B!important;
}

.color-F78223 {
  color: #F78223;
}

.color-d7d7d7 {
  color: #d7d7d7;
}

.color-717171 {
  color: #717171;
}

@media screen and (max-width:321px){
  .base-fontsize{font-size:12px}
}

@media screen and (min-width:321px) and (max-width:400px){
  .base-fontsize{font-size:14px}
}

@media screen and (min-width:400px){
  .base-fontsize{font-size:16px}
}
