/*
  login.vue
 */
.icon-loginbg {
  @include  backgroundImages("/images/login_bg.jpg", cover)
}
.icon-loginlogo {
  @include  backgroundImages("/images/login_logo.png", 178px 53px, $position: 42px center)
}
.icon-user {
  @include  backgroundImages("/images/icon_user.png", 16px 16px)
}
.icon-password {
  @include  backgroundImages("/images/icon_password.png", 16px 16px)
}

/*
  table表格中的操作
 */
$opt-list: opt_look, opt_power, opt_password, opt_edit, opt_del;
@each $opt in $opt-list {
  .icon-#{$opt} {
    @include  backgroundImages("/images/#{$opt}.png")
  }
}

/*
  刷新按钮
 */
.icon-refresh{
  @include  backgroundImages("/images/icon_refresh.png")
}

/*
  top.vue 以及 slider-bar.vue
 */
.logo{
  @include  backgroundImages("/images/logo.png", initial)
}
$nav-list: datamonitor, statistics, set, help, cancel, index, company, sensor, monitor;
@each $nav in $nav-list {
  .icon-#{$nav} {
    @include  backgroundImages("/images/icon_#{$nav}.png", initial)
  }
}

/*
  nav-bar.vue
 */
.icon-satellite {
  @include  backgroundImages("/images/icon_satellite.png", initial, $position:25px center)
}
.icon-house {
  @include  backgroundImages("/images/icon_house.png", initial, $position:25px center)
}


/*
  livepicture.vue
 */
@include axisRotate($start-deg: 30deg, $name: 'g', $frame: 12)
@include axisRotate($start-deg: 270deg, $name: 'y', $frame: 12)
@include axisRotate($start-deg: 150deg, $name: 'b', $frame: 12)

@include maxScreen(1920px) {
  .axis-g ,
  .axis-y ,
  .axis-b {
    width: 40px;
    height: 12px;
    left: 34%;
  }
  .ball-green,
  .ball-green {
    top: 31%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
  }
  .ball-green {
    left: 35%;
  }
  .ball-yellow {
    top: 34%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }
  .ball-blue {
    left: 65%;
  }
  @include ballRotate($start-deg: 30, $name: 'g', $start-top: 31%, $start-left: 40%, $start-px: 32px, $frame: 12)
  @include ballRotate($start-deg: 270, $name: 'y', $start-top: 34%, $start-left: 50%, $start-px: 20px, $frame: 12)
  @include ballRotate($start-deg: 150, $name: 'b', $start-top: 31%, $start-left: 60%, $start-px: 32px, $frame: 12)
}

@include maxScreen(1600px) {
  .axis-g ,
  .axis-y ,
  .axis-b {
    width: 32px;
    height: 10px;
    left: 31%;
  }
  .ball-green,
  .ball-blue {
    top: 31%;
    width: 28px;
    height: 28px;
    margin-left: -14px;
  }
  .ball-green {
    left: 35%;
  }
  .ball-yellow {
    top: 34%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
  }
  .ball-blue {
    left: 64%;
  }
  @include ballRotate($start-deg: 30, $name: 'g', $start-top: 31%, $start-left: 40%, $start-px: 28px, $frame: 12)
  @include ballRotate($start-deg: 270, $name: 'y', $start-top: 34%, $start-left: 50%, $start-px: 12px, $frame: 12)
  @include ballRotate($start-deg: 150, $name: 'b', $start-top: 31%, $start-left: 60%, $start-px: 28px, $frame: 12)
}

@include maxScreen(1366px) {
  .axis-g ,
  .axis-y ,
  .axis-b {
    width: 29px;
    height: 8px;
    left: 31%;
  }
  .ball-green,
  .ball-blue {
    top: 31%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }
  .ball-green {
    left: 35%;
  }
  .ball-yellow {
    top: 34%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
  }
  .ball-blue {
    left: 65%;
  }
}

/*
  
  title.vue 和 echarttitle.vue

 */
.components-title {
  font-size: 15px;
  color: #56B7DA;
  border-bottom: 1px solid #016CA4;
  font-weight: normal;
}

/*

  sensor、monitor、datamonitor、statictics模块的 index.vue

 */
.layout-index {
  position: relative;
  height: calc(100% - 90px);
  .contain {
    height: 100%;
    background-color: #00426D;
    overflow-y: auto;
  }
}


/*
  不换行省略
 */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 重置elementui表格的样式，以及表格下的其他的效果和操作的样式*/

/*


  table样式


 */
.tablelist{
  width: 100%;
  min-height: 532px;
  /*height: calc(100% - 242px);*/
  .el-table{
    border-color: #0098DC;
    background-color: transparent;
    tr {
      background-color: transparent;
    }
    td, th {
      border-right: 1px solid #0098DC;
    }
    td, th.is-leaf {
      border-bottom: 1px solid #0098DC;
    }
    .el-table__header-wrapper, .el-table__fixed-header-wrapper {
      thead {
        div {
          color: #fff;
          background-color: #2D5E7E;
        }
        tr {
          border-color: #0098DC;
          background-color: #2D5E7E;
          th {
            border-color: #0098DC;
            background-color: #2D5E7E;
          }
        }
        div.cell {
          padding: 0;
        }
      }
    }
    .el-table__body-wrapper{
      tbody {
        div {
          color: #fff;
          background-color: transparent;
        }
        div.lightHigh {
          color: #61CEED;
          cursor: pointer;
        }
        div.stop {
          i {
            display: inline-block;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            border: 2px solid #FF3502;
            vertical-align: middle;
            margin-right: 5px;
            color: #FF3502;
            text-align: center;
            line-height: 27px;
            font-size: 18px;
          }
        }
        tr {
          border-color: #0098DC;
          background-color: transparent;
          td {
            border-color: #0098DC;
            background-color: transparent;
          }
        }
        tr:hover>td{
          background-color: #2D5E7E;
        }
      }
    }
    .sort-caret.ascending{
      border-bottom: 5px solid #01FFFF;
    }
    .sort-caret.descending {
      border-top: 5px solid #01FFFF;
    }
    .ascending {
      .sort-caret.ascending {
        border-bottom-color: #5BC2E1;
      }
    }
    .descending {
      .sort-caret.descending {
        border-top-color: #5BC2E1;
      }
    }
  }
  .el-table::after, .el-table::before {
    background-color: #0098DC;
  }

}
.tablelist.sensors-height {
  height: calc(100% - 302px);
}

/*

  描述省略


 */
.miaosu {
  @extend %wrap;
  text-align: left;
  padding-left: 5%;
}  
/*

  状态开关


 */

@include maxScreen(1920px) {
  .on-off {
    width: 96px;
    label {
      width: 96px;
    }
    input[type=checkbox]:checked + label .ball {
      left: 64px;
    }
  }
}

@include maxScreen(1366px) {
  .on-off {
    width: 68px;
    label {
      width: 68px;
    }
    input[type=checkbox]:checked + label .ball {
      left: 36px;
    }
  }
}
.on-off{
  position: relative;
  height: 36px;
  margin: 0 auto;
  input {
    visibility: hidden;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 32px;
    border: 1px solid #13CE67;
    border-radius: 16px;
    cursor: pointer;
    .ball {
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      transition: all .5s ease;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 4px;
      z-index: 1;
      margin-top: -14px;
      background: #13CE67;
    }
  }
  label::before {
    content: 'On';
    position: absolute;
    top: 50%;
    left: 4px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-top: -9px;
    color: #fff;
    font-size: 12px;
  }
  label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-top: -9px;
  }
  input[type=checkbox]:checked + label {
    border-color: #2EC0E9;
  }
  input[type=checkbox]:checked + label .ball {
    background: #2EC0E9;
  }
}



/*

  操作按钮

 */

@include maxScreen(1920px) {
  .table-opt-item {
    width: 97px;
  }
}

@include maxScreen(1600px) {
  .table-opt-item {
    width: 83px;
  }
}

@include maxScreen(1366px) {
  .table-opt-item {
    width: 68px;
  }
}
.table-opt {
  height: 48px;
  margin-left: -18px;
  margin-right: -18px;
}
.table-opt-item {
  display: inline-block;
  line-height: 48px;
  cursor: pointer;
  border-right: 1px solid #0098DC;
  .icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    vertical-align: middle;
  }
}
.table-opt-item:last-child {
  border-right: 0;
}


/* el-message*/
.message {
}
.message.success {
  background-color: #00A0EA;
}
.message.error {
  background-color: #FF3402;
}
.message.el-message {
  min-width: auto;
  p {
    margin: 0;
    color: #fff;
    .el-message__icon {
      margin-right: 0;
      display: none;
    }
  }
}
.messageicon {
  margin-right: 0;
}



/* el-tabs*/

.el-tabs {
  margin-top: 10px;
  .el-tabs__header {
    border-bottom: 1px solid #0084C4;
    .el-tabs__item {
      color: #fff;
      min-width: 120px;
      text-align: center;
    }
    .el-tabs__item:hover {
      background-color: #00A0E9;
    }
    .el-tabs__item.is-active {
      background-color: #00A0E9;
    }
  }
}

.el-loading-mask {
  background-color: rgba(0, 0, 0, 0.8)!important;
}


/*

  滚动条样式

 */
.scrollbar {
  .ofya {
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;  
    height: 10px;  
    background-color: #F5F5F5;  
  }  
  /*定义滚动条轨道 内阴影+圆角*/  
  ::-webkit-scrollbar-track {  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    background: #fff ;  
  }  
  /*定义滑块 内阴影+圆角*/  
  ::-webkit-scrollbar-thumb {  
    border-radius: 3px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color:rgba(7, 170, 247, 0.7);  
  }  
  ::-webkit-scrollbar-thumb:hover {  
    border-radius: 3px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color:rgba(7, 170, 247, 1);  
  }
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-button {
    display: none;
  }
  scrollbarbutton {
    display: none;
  }
}



/*

  搜索框样式

 */

.search-box {
  position: relative;
  .el-input {
    .el-input__icon.is-clickable:hover+.el-input__inner {
      border-color: #02ffff;
    }
    .el-input__icon.is-clickable:hover {
      cursor: pointer;
      color: #02FFFE;
    }
    input {
      /*width: 27%;*/
      min-width: 263px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #01CDD8;
      background-color: #003964;
      color: #01CDD8;
      padding-left: 15px;
    }
    i {
      font-size: 28px;
      color: #08d0cf;
    }
  }
}


/*

  刷新按钮

 */
.btn-refresh {
  position: relative;
  width: 106px;
  height: 40px;
  background-color: transparent!important;
  border-color: transparent!important;
  line-height: 40px;
  border: 0;
  color: #13CE66!important;
  padding: 0;
  z-index: 2000;
  .icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    vertical-align: middle;
  }
}
.btn-refresh.el-button--primary:active,
.btn-refresh.el-button--primary:focus {
  background-color: transparent;
  border-color: transparent;
  color: #13CE66;
}
.btn-refresh:hover {
  background-color: transparent!important;
  border-color: transparent!important;
  color: #13CE66;
  .refresh_rotate {
    animation: rooo .6s infinite;
    @include rooo($name: 'rooo')
  }
}


/*

  select组件


 */
::-webkit-input-placeholder { /* WebKit browsers */  
  color: #01CDD8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
  color: #01CDD8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */  
  color: #01CDD8;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */  
  color: #01CDD8;
}
.select-box {
  position: relative;
  .el-select {
    width: 175px;
    height: 40px;
    i {
      color: #00CED8!important;
    }
    input {
      color: #00CED8;
      background-color: #01365E;
      border-color: #00CED8;
      height: 40px;
      line-height: 40px;
    }
  }
  .el-select:hover .el-input__inner {
    border-color: #02ffff;
  }
  .el-select .el-input__inner:focus {
    border-color: #02ffff;
  }
}

.el-select-dropdown {
  background-color: #01365E!important;
  border-color: #02ffff!important;
  .el-select-dropdown__item {
    color: #fff;
  }
  .el-select-dropdown__item.hover {
    background-color: #0098dc;
  }
}


.el-date-editor {
  .el-input__inner {
    background-color: #01365E;
    border-color: #02ffff;
    color: #00CED8;
  }
}

.el-picker-panel {
  background-color: #01365E;
  border-color: #02ffff;
  .el-input__inner {
    background-color: #01365E;
    border-color: #02ffff;
    color: #00CED8;
  }
  .el-date-picker__time-header {
    border-bottom-color: #02ffff;
  }
  .el-date-picker__header {
    .el-picker-panel__icon-btn {
      color: #00CED8;
    }
    .el-date-picker__header-label {
      color: #00CED8;
    }
    .el-date-picker__header-label.active, .el-date-picker__header-label:hover, .el-picker-panel__icon-btn:hover {
        color: #20a0ff;
    }
  }
  .el-picker-panel__content {
    color: #00CED8;
    .el-date-table td.available:hover {
      background-color: #2651b1;
    }
    .el-date-table td.disabled {
      background-color: #0b68ad;
      color: #ddd;
    }
    .el-year-table {
      .cell {
        color: #20a0ff;
      }
    }
    .el-month-table {
      .cell {
        color: #20a0ff;
      }
    }
  }
  .el-picker-panel__footer {
    border-top-color: #02ffff;
    background-color: #01365E;
    .el-picker-panel__btn {
      border-color: #00CED8;
      color: #00CED8;
    }
  }
}


/*

  el-dialog

 */
.el-dialog {
  border: 15px solid #006394;
}
