footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	height: 1rem;
	@include  backgroundImages("/fx/images/footer_bg.png", cover);
	.footer_container {
		overflow: hidden;
		height: 1rem;
		li {
			width: 25%;
			a {
				@media screen and (max-width:321px){
					i {
						font-size: 26px;
					}
				}
				@media screen and (min-width:321px) and (max-width:400px){
					i {
						font-size: 28px;
					}
				}
				@media screen and (min-width:400px){
					i {
						font-size: 30px;
					}
				}
			}
			a.active {
				i, p {
					color: #474644;
				}
			}
		}
	}
}