.login,
.register {
	::-webkit-input-placeholder { /* WebKit browsers */  
		color: #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
		color: #fff;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */  
		color: #fff;
	} 
	:-ms-input-placeholder { /* Internet Explorer 10+ */  
		color: #fff;
	}
}
.addressadd,
.cart,
.useredit {
	::-webkit-input-placeholder { /* WebKit browsers */  
		color: #979797;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
		color: #979797;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */  
		color: #979797;
	} 
	:-ms-input-placeholder { /* Internet Explorer 10+ */  
		color: #979797;
	}
}

.login {
	width: 100%;
	height: 100%;
	overflow: hidden;
	@include  backgroundImages("/fx/images/login_bg.png", cover);
	.login_logo {
		height: 3.5rem;
		width: 5rem;
		margin: 0.5rem auto 0.2rem;
		@include  backgroundImages("/fx/images/login_logo.png", cover, center 0);
	}
	.login_form {
		padding: 0.1rem;
		label {
			display: block;
		}
		label.field {
			position: relative;
			width: 4.3rem;
			height: 0.7rem;
			line-height: 0.7rem;
			margin: 0 auto 0.3rem;
			color: #fff;
			@include  backgroundImages("/fx/images/login_field_bg.png", 100% 100%);
			input {
				padding-left: 0.7rem;
				font-size: 16px;
				background-color: transparent;
				border: 0;
				color: #fff;
			}
			i {
				position: absolute;
				left: 0.3rem;
				top: 50%;
				font-size: 16px;
				transform: translateY(-50%);
			}
		}
		label.submit {
			width: 1.3rem;
			height: 1.3rem;
			margin: 0.2rem auto 0;
			@include  backgroundImages("/fx/images/form_submit.png", cover);
			input {
				visibility: hidden;
			}
		}
		.login_link {
			width: 4.3rem;
			height: 0.4rem;
			margin: 0 auto 0.1rem;
			font-size: 16px;
			a {
				display: block;
				width: 50%;
			}
		}
	}
	.form_error {
		min-height: 0.3rem;
		width: 4.3rem;
		font-size: 14px;
		color: red;
		margin: 0 auto;
	}
}
.register {
	width: 100%;
	height: 100%;
	overflow: auto;
	@include  backgroundImages("/fx/images/register_bg.png", cover);
	.register_logo {
		height: 2.4rem;
		width: 5rem;
		margin: 0.5rem auto 0;
		@include  backgroundImages("/fx/images/register_logo.png", cover, center 0);
	}
	.register_form {
		padding: 0.1rem;
		label {
			display: block;
		}
		label.field {
			position: relative;
			width: 4.3rem;
			height: 0.7rem;
			line-height: 0.7rem;
			margin: 0 auto 0.3rem;
			color: #fff;
			@include  backgroundImages("/fx/images/register_field_bg.png", 100% 100%);
			input {
				padding-left: 0.7rem;
				font-size: 16px;
				background-color: transparent;
				border: 0;
				color: #fff;
			}
			i {
				position: absolute;
				left: 0.3rem;
				top: 50%;
				font-size: 16px;
				transform: translateY(-50%);
			}
		}
		label.submit {
			width: 1.3rem;
			height: 1.3rem;
			margin: 0.2rem auto 0;
			@include  backgroundImages("/fx/images/form_submit.png", cover);
			input {
				visibility: hidden;
			}
		}
		.register_gender {
			width: 4.4rem;
			margin: 0 auto;
			font-size: 16px;
			text-align: center;
			label {
				width: 2.1rem;
			}
		}
		.register_link {
			width: 4.3rem;
			height: 0.4rem;
			margin: 0.1rem auto 0.1rem;
			font-size: 16px;
			text-align: center;
			a {
				display: block;
				width: 50%;
			}
		}
	}
	.form_error {
		min-height: 0.3rem;
		width: 4.3rem;
		font-size: 14px;
		color: red;
		margin: 0 auto;
	}
}

.container {
	width: 100%;
	height: calc(100% - 2.2rem);
	padding-top: 1.2rem;
	overflow: auto;
	box-sizing: content-box;
}

.index {
	.banner {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.index_box {
		width: 100%;
		margin-bottom: 0.1rem;
		span.price {
			color: #FF4100;
		}
		.index_box_title{
			height: 1.1rem;
			margin-bottom: 0.05rem;
			width: 100%;
			padding: 0 0.1rem;
			@include  backgroundImages("/fx/images/index_box_title_bg.png", cover)
			h1 {
				width: 3rem;
				height: 1.1rem;
				line-height: 1.1rem;
				color: #fff;
				padding-left: 0.4rem;
				@include  backgroundImages("/fx/images/index_box_title.png", 80% 80%, left 0.05rem);
			}
			a {
				display: inline-block;
				height: 1.1rem;
				line-height: 1.1rem;
			}
			@media screen and (max-width:321px){
				h1, a {
					font-size: 16px;
				}
			}
			@media screen and (min-width:321px) and (max-width:400px){
				h1, a {
					font-size: 18px;
				}
			}
			@media screen and (min-width:400px){
				h1, a {
					font-size: 20px;
				}
			}
		}
		.index_box_content {
			height: 3.5rem;
			width: 100%;
			.ibc_single, .ibc_multi{
				background-color: #DED8CC;
				// a {
				// 	display: block;
				// }
			}
			.ibc_single {
				width: 2.5rem;
				height: 100%;
				padding: 0.1rem;
				@media screen and (max-width:321px){
					h5 {
						font-size: 14px;
					}
				}
				@media screen and (min-width:321px) and (max-width:400px){
					h5 {
						font-size: 16px;
					}
				}
				@media screen and (min-width:400px){
					h5 {
						font-size: 18px;
					}
				}
				span {
					display: block;
					margin-top: 0.2rem;
					margin-bottom: 0.2rem;
				}
				img {
					display: block;
					width: 90%;
					margin: 0 auto;
				}
			}
			.ibc_multi {
				width: calc(100% - 2.55rem);
				height: 100%;
				.ibc_multi_goods {
					height: 50%;
					padding: 0.1rem;
					p {
						color: #787876;
						margin-top: 0.1rem;
						margin-bottom: 0.1rem;
					}
					img {
						display: block;
						height: 100%;
					}
				}
				.ibc_multi_goods_cell {
					width: 50%;
					height: 50%;
					padding: 0.1rem;
					text-align: center;
					a {
						display: block;
					}
					h5 {
						color: #787876;
					}
					img {
						display: block;
						width: 60%;
						margin: 0 auto;
					}
				}
				.ibc_multi_goods_cell.left {
					border-right: 0.025rem solid #fff;
				}
				.ibc_multi_goods_cell.right {
					border-left: 0.025rem solid #fff;
				}
				.ibc_multi_goods.top,
				.ibc_multi_goods_cell.top {
					border-bottom: 0.05rem solid #fff;
				}
				@media screen and (max-width:321px){
					h5 {
						font-size: 14px;
					}
					.ibc_multi_goods_cell {
						h5 {
							font-size: 12px;
						}
					}
				}
				@media screen and (min-width:321px) and (max-width:400px){
					h5 {
						font-size: 16px;
					}
					.ibc_multi_goods_cell {
						h5 {
							font-size: 14px;
						}
					}
				}
				@media screen and (min-width:400px){
					h5 {
						font-size: 18px;
					}
					.ibc_multi_goods_cell {
						h5 {
							font-size: 14px;
						}
					}
				}
			}
		}
		.index_box_list {
			width: 100%;
			overflow: hidden;
			ul {
				width: 105%;
				li {
					float: left;
					width: 2.1rem;
					margin-right: 0.05rem;
					height: 3.5rem;
					background-color: #DED8CC;
					padding: 0.1rem;
					img {
						display: block;
						margin: 0.3rem auto;
						width: 80%;
					}
					p {
						font-size: 12px;
						margin-top: 0.05rem;
						margin-bottom: 0.05rem;
					}
					@media screen and (max-width:321px){
						h5 {
							font-size: 12px;
						}
					}
					@media screen and (min-width:321px) and (max-width:400px){
						h5 {
							font-size: 14px;
						}
					}
					@media screen and (min-width:400px){
						h5 {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.banner_box {
		width: 100%;
		padding: 0.1rem;
		background-color: #DED8CC;
		.banner_box_row {
			position: relative;
			width: 100%;
			border-radius: 0.1rem;
			overflow: hidden;
			img {
				width: 100%;
				display: block;
			}
			p {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 0.6rem;
				line-height: 0.6rem;
				background-color: rgba(0, 0, 0, 0.3);
				color: #DFDCCD;
				padding: 0 0.2rem;
				font-size: 16px;
				@extend %wrap;
			}
		}
	}
}

.usercenter {
	.usercenter_info {
		position: relative;
		width: 100%;
		height: 3.6rem;
		overflow: hidden;
		@include  backgroundImages("/fx/images/user_info_bg.png", cover)
		.usercenter_avatar {
			width: 2rem;
			height: 2rem;
			margin: 0.2rem auto 0;
			border: 0.1rem solid #fff;
			border-radius: 50%;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
			}
		}
		.usercenter_name {
			text-align: center;
			color: #fff;
			font-size: 22px;
		}
		.usercenter_list {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0.8rem;
			width: 100%;
			background-color: rgba(181, 156, 107, 0.6);
			li {
				position: relative;
				float: left;
				width: 33.333333%;
				text-align: center;
				line-height: 0.4rem;
				a {
					color: #fff;
				}
			}
			li:nth-child(2)::before,
			li:nth-child(2)::after {
				content: '';
				position: absolute;
				top: 50%;
				z-index: 1;
				display: block;
				width: 0.01rem;
				height: 0.6rem;
				margin-top: -0.3rem;
				background-color: #FFF;
			}
			li:nth-child(2)::before {
				left: 0.01rem;
			}
			li:nth-child(2)::after {
				right: 0.01rem;
			}
		}
	}
	.usercenter_assets {
		width: 100%;
		margin-top: 0.2rem;
		ol {
			width: 100%;
			height: 0.7rem;
			line-height: 0.7rem;
			background-color: #DED8CC;
			margin-bottom: 0.02rem;
			li {
				float: left;
				width: 33.3333%;
				font-size: 14px;
				padding-left: 0.4rem;
				i {
					font-size: 20px;
				}
				a.withdraw {
					display: block;
					width: 1.4rem;
					height: 0.5rem;
					margin-top: 0.1rem;
					padding-left: 0.5rem;
					line-height: 0.5rem;
					font-size: 16px;
					color: #fff;
					@include  backgroundImages("/fx/images/btn_bg.png", cover)
				}
			}
			li.gray {
				color: #727071;
			}
			li.red {
				color: #C30C20;
			}
			li:last-child {
				padding-right: 0.4rem;
			}
		}
	}
	.usercenter_nav {
		width: 100%;
		margin-top: 0.2rem;
		li {
			float: left;
			height: 1.8rem;
			width: 33.333%;
			background-color: #DED8CC;
			border-right: 0.01rem solid #fff;
			margin-bottom: 0.01rem;
			text-align: center;
			a {
				display: block;
				.usercenter_nav_icon {
					width: 1rem;
					height: 1rem;
					margin: 0.15rem auto;
					text-align: center;
					line-height: 1rem;
					@include  backgroundImages("/fx/images/usercenter_nav_icon_bg.png", cover)
					i {
						color: #fff;
						font-size: 20px;
					}
				}
				p {
					font-size: 14px;
				}
			}
		}
		li:nth-child(3n+3) {
			border-right: 0;
		}
	}
	.usercenter_loginout {
		width: 80%;
		height: 0.8rem;
		margin: 0.2rem auto;
		line-height: 0.8rem;
		color: #fff;
		text-align: center;
		background-color: #DED8CC;
		border-radius: 0.1rem;
		font-size: 18px;
	}
}
.userassets {}
.useredit {
	position: relative;
	height: 100%;
	width: 100%;
	padding-top: 1.2rem;
	.useredit_info {
		position: relative;
		width: 100%;
		height: 3.6rem;
		overflow: hidden;
		@include  backgroundImages("/fx/images/user_info_bg.png", cover)
		.useredit_avatar {
			width: 2rem;
			height: 2rem;
			margin: 0.2rem auto 0;
			border: 0.1rem solid #fff;
			border-radius: 50%;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
			}
		}
		.useredit_name {
			text-align: center;
			color: #fff;
			font-size: 22px;
		}
	}
	form {
		height: calc(100% - 4.6rem);
		overflow: auto;
		.useredit_item {
			height: 0.84rem;
			line-height: 0.84rem;
			margin-top: 0.01rem;
			font-size: 16px;
			padding: 0 0.38rem;
			border-top: 0.01rem solid #F6F7F9;
			input {
				float: right;
				border: 0;
				text-align: right;
				display: block;
				height: 0.84rem;
				color: #8C8C8C;
			}
			.useredit_selection {
				color: #8C8C8C;
			}
		}
		.useredit_item:last-of-type {
			border-bottom: 0.01rem solid #F6F7F9; 
		}
	}
	.useredit_save {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		height: 1rem;
		width: 100%;
		color: #fff;
		text-align: center;
		line-height: 1rem;
		font-size: 18px;
		@include  backgroundImages("/fx/images/footer_bg.png", cover)
	}
}

.helpcenter {
	height: 100%;
	width: 100%;
	padding-top: 2.1rem;
	@include  backgroundImages("/fx/images/helpcenter_bg.png", cover)
	.helpcenter_list {
		padding-left: 1.2rem;
		font-size: 16px;
		li {
			position: relative;
			height: 0.4rem;
			line-height: 0.4rem;
			padding-left: 0.5rem;
			margin-bottom: 0.3rem;
		}
		li::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 0.4rem;
			width: 0.4rem;
			background-color: #000;
			border-radius: 50%;
		}
	}
}

.address {
	position: relative;
	height: 100%;
	width: 100%;
	padding-top: 1.2rem;
	background-color: #EEEFF1;
	.address_container {
		height: calc(100% - 1rem);
		overflow: auto;
	}
	.address_warpper {
		height: 2.61rem;
		width: 100%;
		background-color: #FFF;
		margin-bottom: 0.2rem;
		.address_warpper_info {
			height: 1.7rem;
			padding: 0.1rem;
			border-bottom: 0.01rem solid #DADADA;
			.address_warpper_info_tit {
				font-size: 16px;
				span.phone {
					color: #AAAAAA;
					font-size: 14px;
				}
			}
			p {
				margin-top: 0.2rem;
				font-size: 15px;
				color: #AAAAAA
			}
		}
		.address_warpper_opts {
			height: 0.9rem;
			padding: 0 0.25rem;
			.address_default {
				position: relative;
				display: block;
				line-height: 0.9rem;
				padding-left: 0.4rem;
			}
			.address_default::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				display: block;
				width: 0.36rem;
				height: 0.36rem;
				margin-top: -0.18rem;
				@include  backgroundImages("/fx/images/address_default.png", cover)
			}
			.address_default.active {
				color: #FF5603;
			}
			.address_default.active::before {
				@include  backgroundImages("/fx/images/address_default_active.png", cover)
			}
			ul {
				padding: 0.26rem 0;
				color: #8C8C8C;
				font-size: 15px;
				li {
					float: left;
				}
				li:first-child {
					margin-right: 0.2rem;
				}
			}
		}
	}
	.address_add {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		height: 1rem;
		width: 100%;
		color: #fff;
		text-align: center;
		line-height: 1rem;
		font-size: 18px;
		@include  backgroundImages("/fx/images/footer_bg.png", cover)
	}
}
.addressadd {
	position: relative;
	height: 100%;
	width: 100%;
	padding-top: 1.2rem;
	background-color: #EEEFF1;
	form {
		.addressadd_item {
			width: 100%;
			min-height: 0.96rem;
			line-height: 0.66rem;
			padding: 0.15rem 0.25rem;
			border-bottom: 0.01rem solid #E3E3E3;
			background-color: #FFF;
			font-size: 16px;
			input {
				float: right;
				display: block;
				height: 0.66rem;
				border: 0;
				text-align: right;
			}
			textarea {
				width: 100%;
				height: 1.9rem;
				border: 0;
			}
			.addressadd_selection {
				color: #979797;
			}
			.address_default {
				display: block;
				width: 0.62rem;
				height: 0.62rem;
				@include  backgroundImages("/fx/images/address_default.png", cover)
			}
			.address_default.active {
				@include  backgroundImages("/fx/images/address_default_active.png", cover)
			}
		}
		.addressadd_item.error {
			color: red;
		}
	}
	.address_add {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		height: 1rem;
		width: 100%;
		color: #fff;
		text-align: center;
		line-height: 1rem;
		font-size: 18px;
		@include  backgroundImages("/fx/images/footer_bg.png", cover)
	}
}
.addressedit {}

.collect{
	position: relative;
	height: calc(100% - 1.4rem);
	padding-top: 1.4rem;
	background-color: #EEEFF1;
	.collect_container {
		height: calc(100% - 1rem);
		overflow: auto;
	}
	.collect_warpper {
		height: 3rem;
		background-color: #FFF;
		.collect_warpper_tit {
			height: 0.78rem;
			border-bottom: 0.02rem solid #DADADA;
			padding-left: 0.25rem;
			line-height: 0.78rem;
			font-size: 16px;
			a {
				position: relative;
				display: block;
				color: #595758;
				padding-left: 0.5rem;
				i {
					vertical-align: middle;
				}
			}
			a::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				display: block;
				width: 0.4rem;
				height: 0.4rem;
				margin-top: -0.2rem;
				border: 0.01rem solid #5E5E5E;
				border-radius: 50%;
			}
			a.active::before {
				background-color: #5E5E5E;
			}
		}
		.collect_warpper_content {
			padding: 0.2rem 0.3rem;
			height: 2.2rem;
			.collect_warpper_content_img {
				width: 28.75%;
				height: 100%;
				overflow: hidden;
				img {
					display: block;
					width: 100%;
				}
			}
			.collect_warpper_content_info {
				position: relative;
				width: calc(71.25% - 0.2rem);
				height: 100%;
				p {
					color: #7B7B7B;
				}
				.collect_warpper_content_info_bottom {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					span.price {
						color: #FB6969;
					}
					span.sell {
						color: #B5B5B5;
					}
				}
				@media screen and (max-width:321px){
					h5 {
						font-size: 14px;
					}
					p {
						font-size: 12px;
					}
				}
				@media screen and (min-width:321px) and (max-width:400px){
					h5 {
						font-size: 16px;
					}
					p {
						font-size: 14px;
					}
				}
				@media screen and (min-width:400px){
					h5 {
						font-size: 18px;
					}
					p {
						font-size: 16px;
					}
				}
			}
		}
	}
	.collect_bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		height: 1rem;
		width: 100%;
		color: #fff;
		line-height: 1rem;
		font-size: 18px;
		@include  backgroundImages("/fx/images/footer_bg.png", cover)
		.collect_bottom_selection {
			position: relative;
			width: calc(100% - 2.5rem);
			background-color: rgba(181, 156, 107, 0.2);
			padding-left: 0.8rem;
			span {
				display: block;
			}
			span::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0.2rem;
				display: block;
				width: 0.4rem;
				height: 0.4rem;
				margin-top: -0.2rem;
				border: 0.01rem solid #fff;
				border-radius: 50%;
			}
			span.active::before {
				background-color: #FFF;
			}
		}
		.collect_bottom_del {
			width: 2.5rem;
			font-style: normal;
			background-color: rgba(181, 156, 107, 0.6);
		}
	}
}

.cart {
	.cart_search {
		position: relative;
		height: 0.98rem;
		background-color: #EEEFF1;
		padding: 0.17rem 0.2rem;
		input {
			width: 6rem;
			height: 0.63rem;
			background-color: #FFF;
			border: 0;
			border-radius: 0.3rem;
			padding-left: 0.6rem;
		}
		i {
			position: absolute;
			left: 0.4rem;
			top: 50%;
			display: block;
			width: 0.3rem;
			height: 0.3rem;
			font-size: 14px;
			margin-top: -0.15rem;
		}
	}
	.cart_tabs {
		width: 100%;
		height: 0.8rem;
		border-bottom: 0.01rem solid #EFEFF1;
		ul {
			width: 100%;
			li {
				float: left;
				width: 16.6666%;
				height: 0.8rem;
				text-align: center;
				color: #595758;
				padding: 0.07rem;
			}
			li.active {
				border-bottom: 0.03rem solid #F78223;
			}
		}
	}
	.cart_container {
		width: 100%;
		height: calc(100% - 1.8rem);
		overflow: auto;
		background-color: #EEEFF1;
		.cart_warpper {
			width: 100%;
			background-color: #FFF;
			.cart_warpper_tit {
				width: 100%;
				height: 0.78rem;
				padding: 0.25rem;
				line-height: 0.28rem;
				h1 {
					color: #595758;
					i {
						vertical-align: middle;
					}
				}
				@media screen and (max-width:321px){
					h1 {
						font-size: 14px;
						i {
							font-size: 18px;
						}	
					}
					
				}
				@media screen and (min-width:321px) and (max-width:400px){
					h1 {
						font-size: 16px;
						i {
							font-size: 20px;
						}
					}
				}
				@media screen and (min-width:400px){
					h1 {
						font-size: 18px;
						i {
							font-size: 22px;
						}
					}
				}
			}
			.cart_warpper_info {
				height: 1.82rem;
				padding: 0.14rem 0.21rem;
				background-color: #F6F6F6;
				.cart_warpper_info_img {
					width: 1.52rem;
					img {
						display: block;
						width: 100%;
					}
				}
				.cart_warpper_info_detail {
					width: 2.6rem;
					p {
						color: #959595;
					}
					@media screen and (max-width:321px){
						h5 {
							font-size: 14px;
						}
						p {
							font-size: 12px;
						}
					}
					@media screen and (min-width:321px) and (max-width:400px){
						h5 {
							font-size: 16px;
						}
						p {
							font-size: 14px;
						}
					}
					@media screen and (min-width:400px){
						h5 {
							font-size: 18px;
						}
						p {
							font-size: 16px;
						}
					}
				}
				.cart_warpper_info_price {
					width: calc(100% - 4.52rem);
					.price{
						color: #FF5C5D;
						margin-bottom: 0.15rem;
					}
					.times, .price_raw {
						color: #B5B5B5;
					}
					.times {
						margin-top: 0.25rem;
					}
				}
			}
			.cart_warpper_sum {
				height: 0.8rem;
				border-top: 0.01rem solid #EEEFF1;
				border-bottom: 0.01rem solid #EEEFF1;
				line-height: 0.8rem;
				padding-right: 0.22rem;
				color: #848484;
				.price {
					font-style: normal;
					color: #FF5C5D;
				}
			}
			.cart_warpper_opts {
				height: 0.8rem;
				padding-right: 0.25rem;
				ul {
					li {
						float: left;
						a {
							display: block;
							width: 1.64rem;
							height: 0.65rem;
							margin-top: 0.1rem;
							padding-left: 0.3rem;
							line-height: 0.65rem;
							color: #888888;
							text-align: center;
							@include  backgroundImages("/fx/images/btn_bg.png", cover)
						}
						a.point {
							color: #FF8001;
						}
						@media screen and (max-width:321px){
							a {
								font-size: 12px;
							}
							
						}
						@media screen and (min-width:321px) and (max-width:400px){
							a {
								font-size: 14px;
								
							}
						}
						@media screen and (min-width:400px){
							a {
								font-size: 16px;
								
							}
						}
					}
				}
			}
		}
	}
}