/node_modules
!node_modules/node-sass
/public/upload
/public/uploads

/public/storage
/vendor

/.idea

Homestead.json

Homestead.yaml

.env
env.js

/storage/logs/laravel.log

npm-debug.log
/public/fx/build
/env.js
/public/admin/build
/node_modules/node-sass
/env.js
