// put all the "%" here

%marginLR {
  margin-left: auto;
  margin-right: auto;
}

%wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%wrap2 {
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

%wrap3 {
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}