@mixin backgroundImages($url:"", $size:100% 100%, $position:center center, $repeat:no-repeat){
  background: url($url);
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}