.addAddress_container{
	height: 100%;
	width: 100%;
	padding-top: 64px;
	padding-bottom: 50px;
	box-sizing: border-box;
	background-color: #eeeff1;
}
.item_list{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e3e3e3;
	box-sizing: border-box;
	padding: 0 10px;
	background-color: #fff;
}
.item_list_title{
	color: #3e3a39;
	font-size: 16px;
}
.item_input_container{
	float: right;
	display: inline-block;
	color: #717171;
}
.item_input{
	color: #717171;
	border:none;
	text-align: right;
}
.item_input::-webkit-input-placeholder{
	color: #717171;
}
.item_input::-moz-placeholder{
	color: #717171;
}
.item_input:-moz-placeholder{
	color: #717171;
}
.item_input:-ms-input-placeholder {
　　color:#717171;
}
.addressDetail{
	width: 100%;
	height: 90px;
	border:none;
	box-sizing: border-box;
	padding: 15px 10px;
	background-color: #fff;
	color: #b6b6b6;
}
.addressDetail::-webkit-input-placeholder{ /* WebKit browsers */
	color: #b6b6b6;
}
.addressDetail::-moz-placeholder{/* Mozilla Firefox 19+ */
	color: #b6b6b6;
}
.addressDetail:-moz-placeholder{/* Mozilla Firefox 4 to 18 */
	color: #b6b6b6;
}
.addressDetail:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#999;
}
.defaultAddress{
	margin-top: 10px;
	height: 45px;
	line-height: 45px;
	box-sizing: border-box;
	padding:0 10px;
	color: #8a8a8a;
	background-color: #fff;
}
.img_container{
	float: right;
}
.defaultAddress_img{
	height: 32px;
	width: 32px;
	vertical-align: middle;
}
.right_arrow{
	margin-left: 10px;
	height: 16px;
	width: 8px;
	vertical-align: middle;
}