.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 64px;
	width: 100%;
	background: url(../img/header_background.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	font-size: 20px;
}
.condition{
	height: 20px;
	width: 100%;
	content: "";
}
.header_turnBack{
	left: 12px;
	margin-top: 10px;
	position: absolute;
	font-size: 20px;
	/*font-weight: 300;*/
}
.header_title{
	margin-top: 10px;
	text-align: center;
}
.msg{
	height: 35px;
	width: 32px;
	margin-top: 3px;
	font-size: 12px;
	position: absolute;
	right: 10px;
}
.msg_container{
	position: relative;
	height: 100%;
	width: 100%;
}
.msg_tips{
	height: 20px;
	width: 27px;
}
.tips_count{
	position: absolute;
	top: 0;
	right: 0;
	height: 11px;
	width: 11px;
	border-radius: 5.5px;
	font-size: 8px;
	text-align: center;
	line-height: 12px;
	background: url(../img/msg_tips_red.png) no-repeat;
	background-size: 100% 100%;
}
.msg_content{
	height: 14px;
	position: absolute;
	bottom: 3px;
}
.bottom{
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: url(../img/bottom_background.gif) no-repeat;
	background-size: 100% 100%;
}
.bottom2{
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: url(../img/bottom_background.gif) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
}
.bottom2 a{
	color: #fff;
}
.bottom_container{
	width: 100%;
	height: 100%;
	/*使用流式布局*/
	display: -webkit-box;
}
.bottom_container li{
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	-webkit-box-flex:1;
	position: relative;
}
.bottom_img{
	margin-top: 7px;
	height: 24px;
	width: 24px;
}
.shoppingCart{
	margin-top: 8px;
	height: 23px;
	width: 32px;
}
.collection{
	margin-top: 8px;
	height: 23px;
	width: 32px;
}
.products_actived{
	margin-top: 7px;
	height: 25px;
	width: 26px;
}
.home{
	margin-top: 7px;
	height: 23px;
	width: 31px;
}
.bottom_content{
	color: #fff;
}