body{
    margin: 0;
    padding: 0;
}
.content{
    position: relative;
    /*top: -100px;*/
    width: 100%;
    height: 100%;
    background-image: url('../img/pic45.png');
    background-size: 100% 100%;
}
.head{
    width: 100%;
    height: 240px;
    padding-top: 50px;
    text-align: center;
}
.contain{
    width: 100%;
    height: 120px;
    text-align: center;
}
.number{
    vertical-align: middle;
    width: 300px;
    height: 60px;
    text-align: center;
    margin: auto;
}
.number input{
    border: none;
    position: relative;
    top: -30px;
    margin-left: 20px;
    background-color:transparent;
    color: white
}
.choose{
     vertical-align: middle;
    /* width: 300px;*/
     height: 40px;
     text-align: center;
     display: inline-block;
     margin: auto;
     font-size: 20px;
 }
.button{
    vertical-align: middle;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: auto;
    background-image: url(../img/pic22.png);
    background-size: 80px 80px;

}
.bottom{
    width: 100%;
    height:200px;
}

.add-name,.add-password{
    width: 200px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    display: block;
    position: relative;
    top:-5px;
    text-align: left;
}
/*.form{
    position: relative;
}*/
.radio_left,.radio_right{
    display: none;
}
.radio_left_box,.radio_right_box{
    height: 12px;
    width: 12px;
    border:1px solid #0e0e0e;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: -15px;
    cursor: pointer;
}
.radio_selected{
    background-color: #000;
}
.radio_text{
    position: relative;
    display: inline-block;
    width: 90px;
}
.radio_text:last-child{
    margin-left: 10px;
}









:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}

input:-ms-input-placeholder{
    color: white;
}

input::-webkit-input-placeholder{
    color: white;
}