.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 64px;
	width: 100%;
	background: url(../img/header_background.png) no-repeat;
	background-size: 100%;
	color: #fff;
	font-size: 20px;
}
.condition{
	height: 20px;
	width: 100%;
	content: "";
}
.header_turnBack{
	left: 12px;
	margin-top: 10px;
	position: absolute;
	font-size: 20px;
	/*font-weight: 300;*/
}
.header_title{
	margin-top: 10px;
	text-align: center;
}
.msg{
	height: 35px;
	width: 32px;
	margin-top: 3px;
	font-size: 12px;
	position: absolute;
	right: 10px;
}
.msg_container{
	position: relative;
	height: 100%;
	width: 100%;
}
.msg_tips{
	height: 20px;
	width: 27px;
}
.tips_count{
	position: absolute;
	top: 0;
	right: 0;
	height: 11px;
	width: 11px;
	border-radius: 5.5px;
	font-size: 8px;
	text-align: center;
	line-height: 12px;
	background: url(../img/msg_tips_red.png) no-repeat;
	background-size: 100%;
}
.msg_content{
	height: 14px;
	position: absolute;
	bottom: 3px;
}
.bottom{
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: url(../img/bottom_background.gif) no-repeat;
	background-size: 100%;
}
.bottom2{
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: url(../img/bottom_background.gif) no-repeat;
	background-size: 100%;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
}
.bottom_container{
	width: 100%;
	height: 100%;
	/*使用流式布局*/
	display: -webkit-box;
}
.bottom_container li{
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	-webkit-box-flex:1;
	position: relative;
}
.bottom_img{
	margin-top: 7px;
	height: 24px;
	width: 24px;
}
.shoppingCart{
	margin-top: 7px;
	height: 23px;
	width: 32px;
}
.products_actived{
	margin-top: 7px;
	height: 25px;
	width: 26px;
}
.home{
	margin-top: 7px;
	height: 23px;
	width: 31px;
}
.bottom_content{
	color: #fff;
}
.container{
	min-height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 64px 0 110px 0;
	background-color: #eeeff1;
	/*overflow-y: scroll;*/
}
.products_list{
	min-height: 150px;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 10px;
}
.products_nav_left{
	float: left;
}
.products_nav_right{
	float: right;
}
.products_nav_img{
	width: 21px;
	height: 21px;
	vertical-align: middle;
}
.goods_nav_img{
	width: 18px;
	height: 16px;
	margin-left: 12px;
	margin-right: 12px;
	vertical-align: middle;
}
.products_nav{
	height: 21px;
	padding: 14px;
	border-bottom: solid 1px #dadada;
	overflow: hidden;
}
.products_details_left{
	height: 110px;
}
.products_details_img{
	width: 92px;
	height: 92px;
	padding: 10px 12px;
}
.products_details_img img{
	width: 100%;
	height: 100%;
}
.products_details_right{
	height: 110px;
	-webkit-box-flex: 1;
	position: relative;
}
.products_details_name{
	margin-top: 10px;
	font-size: 12px;
	color: #000;
	letter-spacing: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.products_details_description{
	display: -webkit-box;
	line-height: 20px;
	font-size: 8px;
	width: 64%;
	letter-spacing: 1px;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}
.products_details{
	display: -webkit-box;
}
.p{
	position: absolute;
	bottom: 5px;
	width: 100%;
	display: -webkit-box;
}
.prices{	
	height: 32px;
	line-height: 38px;
	color: #fc5e5d;
	font-size: 12px;
	-webkit-box-flex: 4;
}
.cut_img{
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
.n{
	-webkit-box-flex: 1;
	padding: 5px;
	text-align: right;
	letter-spacing: 1px;
	margin-right: 5px;
}
.x{
	font-size: 12px;
	font-weight: bold;
	color: #b5b5b5;
}
.num{
	font-size: 12px;
	font-weight: bold;	
	color: #b5b5b5;
}
.add_img{
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
.operation{
	height: 50px;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #dadada;
	position: fixed;
	bottom: 50px;
}
.operation_left{
	box-sizing: border-box;
	float: left;
	width: 68%;
	padding-left: 14px;
	padding-top: 14px;
}
.operation_right{
	box-sizing: border-box;
	float: left;
	width: 32%;
}
.operation_img{
	width: 21px;
	height: 21px;
	vertical-align: middle;
}
.all{
	vertical-align: middle;
	padding-left: 8px;
	font-weight: bold;
	letter-spacing: 1px;
}
.count{
	vertical-align: middle;
	padding-left: 8px;
	font-weight: bold;
	color: #727272;
	letter-spacing: 1px;
}
.money{
	vertical-align: middle;
	font-weight: bold;
	color: #feb266;
	letter-spacing: 1px;
}
.tip{
	vertical-align: middle;
	padding-left: 4px;
	color: #727272;
	letter-spacing: 1px;
	font-size: 8px;
}
.operation_btn li{
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	width: 50%;
	float: left;
}
.delete{
	background-color: #ded8cc;
	color: #fff;
	height: 50px;
	line-height: 50px;
}
.account{
	background-color: #ff5500;
	color: #fff;
	height: 50px;
	line-height: 50px;
}